python-docx==1.2.0
mysql-connector-python==9.7.0
PySide6==6.11.0
pymatgen==2026.5.4
pandas==3.0.2
scikit-learn==1.8.0
hdbscan>=0.8.40
matplotlib==3.10.9
umap-learn==0.5.12
numpy==2.4.4
scipy==1.17.1
seaborn==0.13.2
mp-api>=0.41.0
catboost>=1.2
python-dotenv>=1.0
